*{
	font-size: 17px;
}

header {
	height: 231px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 1px 1px 5px;
}

body {
	background-image: url("../imgs/fundo.jpg");
}

.home {
	background-image: url("../imgs/biblioteca.jpg");
}

.cadastros {
	background-image: url("../imgs/cadastros.jpg");
}

.cadastroLivro {
	background-image: url("../imgs/cadastroLivro.jpg");
}

.cadastroArtigoLivro {
	background-image: url("../imgs/cadastroArtigoLivro.jpg");
}

.cadastroAnaisConferencia {
	background-image: url("../imgs/cadastroAnaisConferencia.jpg");
}

.cadastroPeriodico {
	background-image: url("../imgs/cadastroPeriodico.jpg");
}

.cadastroArtigoPeriodico {
	background-image: url("../imgs/cadastroArtigoPeriodico.jpg");
}

.cadastroMonografia {
	background-image: url("../imgs/cadastrosMonografia.jpg");
}

.cadastroArtigoAnaisConferencia {
	background-image: url("../imgs/cadastroArtigoAnaisConferencia.jpg");
}

.consultas {
	background-image: url("../imgs/consultas.jpg");
}

.emprestimos {
	background-image: url("../imgs/emprestimos.jpg");
}

.usuarios {
	background-image: url("../imgs/usuarios.jpg");
}

.menu{
	width: 100%;
	height: 2em;
	background-color: #BE8157;
	box-shadow: 1px 1px 2px;
	border-radius: 0px 0px 10px 10px;	
}

.menu a {
	text-transform: uppercase;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding:.5em 5.4em;
}

.submenu {
	width: 12%;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 2em;
}

.submenu a{
	display: block;
	color: #BE8157;
	text-decoration: none;
	padding:1em .5em;
	text-align: center;
	border-bottom: 1px solid #BE8157;
}

.submenu a:last-child {
	border-bottom: none;
}

.corpo{
	width: 50%;
	top:17em; 
	left:13em;
	position: absolute;
	display: block;
	color: #BE8157;
	text-decoration: none;
	padding:1em .5em;
	text-align: left;
	border-bottom: 1px solid #BE8157;
}

input {
	padding: .2em;
	width:100%;
}

input[type="submit"] {
	width:20%;
	float: right;
}

form {
	font-size: 18px;
}

form input {
	margin: .3em .2em;
}