<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost/diabetes</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="br.com.caelum.diabetes.model.Alimento"/>
		<mapping class="br.com.caelum.diabetes.model.ContagemCarboidrato"/>
		<mapping class="br.com.caelum.diabetes.model.DadosMedicos"/>
		<mapping class="br.com.caelum.diabetes.model.Exame"/>
		<mapping class="br.com.caelum.diabetes.model.Exercicio"/>
		<mapping class="br.com.caelum.diabetes.model.Glicemia"/>
		<mapping class="br.com.caelum.diabetes.model.Horario"/>
		<mapping class="br.com.caelum.diabetes.model.Lembrete"/>
		<mapping class="br.com.caelum.diabetes.model.Medico"/>
		<mapping class="br.com.caelum.diabetes.model.Paciente"/>
		<mapping class="br.com.caelum.diabetes.model.Periodo"/>
		<mapping class="br.com.caelum.diabetes.model.Usuario"/>
		<mapping class="br.com.caelum.diabetes.model.ValoresDadosMedicos"/>
	</session-factory>
</hibernate-configuration>